.DS_Store

*.dll
*.dylib


# Robotic logs
z.costReport
z.costReport.plt
z.log.global
z.plotcmd

#compile temporaries 
build/
*.exe
*.o
*.a
*.so
*.swp

#python temporaries
__pycache__/
*.pyc
.ipynb_checkpoints

#data
data/